@import '../node_modules/bootstrap/dist/css/bootstrap.min.css'; 

pre {
    font-family: 'Courier New', Courier, monospace;
    background-color: blueviolet;
    color: whitesmoke; 
    padding: 15px; 
}